*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Raleway;
    /* user-select:none; */
}
body{

    background-color:rgb(240, 239, 239);
}
main{
    margin:2em auto;
    background:white;
    width:fit-content;
    padding:2em;
    border:#303030 solid 2px;
    border-radius:3em;
}
h1{
    margin:1em 0 ;
    text-transform: uppercase;
}

section{
    display:flex;
    flex-direction:column;
    margin-bottom:2em;
    width:59vw;
    position:relative;
}

section >label{
    display:block;

}
label{
    margin:2em 0 .5em;
    outline:none;
}
select,input{
    width:100%;
    padding:.5em;
    font-size: medium;
    display:block;
    border:#3030304b solid 1px;
    border-radius:.5em;
    outline:none;
}

label[for="paper"] + span{
    display:inline-block;
    word-wrap: break-word;
    width:100px;
    
}
table{
    border-collapse:collapse;
    overflow-x:scroll;


}
#paper + label{
    display:flex;
    
}
input[type=file]{
    display:none;
}
td, th{
    border:1px solid #ccc;
    padding:.5em 1.2em;
    text-align: center;

}
td input{
    min-width:7em;
    text-align: center;
}
td input[type="date"]{
    width:7em;
}
tbody tr:nth-child(even){
    background: #ddd;
}
tbody tr:nth-child(odd){
    background: #eee;
}
.file_label{
    border:1px solid black;
    width:fit-content;
    padding:.5em 1.2em;
    cursor: pointer;
    border-radius:2em;
    font-weight:700;
    margin-top:1em;
    user-select: none;
    transition:.4s ease-out background-color;
}
input[type=file]:disabled + label{
    cursor:not-allowed;
    border-color:#03030360;
    color:#03030360;

}
input[type=file]:not(:disabled) +label:hover{
    background: #303030;
    color:white;

}
input:focus ,select:focus ,input[type=file]:not(:disabled) +label:focus{
    box-shadow:0 0 0 1.5px #303030;

}
.add_row{
    border-radius:5px;
    margin-top:1em;
    padding: .6em 2em;
    align-self: center;

}
#submit{
    width:fit-content;
    padding:.8em 2.3em;
    margin-top:2em;
    align-self: flex-end;
    cursor:pointer;
    text-transform: uppercase;
}
.add_row , #submit{
    font-size:1.25rem;

    width:fit-content;    
    color:#303030;
    font-weight:900;
    cursor:pointer;
    user-select: none;
    border:#303030 solid 2px;
    transition:.4s ease-in-out;
    transition-property: background-color color;

}
.add_row:hover, #submit:hover,.add_row:focus,#submit:focus{
    background: #303030;
    color:white;

}
.delete_btn {
    /* background:white; */
    display:block;
    width:100%;
    cursor:pointer;
    font-size:1.4rem;
    margin-top:.3em;
    
}
i{
    border:1px solid ;
    border-radius:.5em;
    padding:.4em .5em;
    transition:.4s;
    transition-property: background-color color;

}
i:hover{
    background:black;
    color:#ddd;
}
#info{
    width:700px;
    overflow:hidden;
    word-wrap: break-word;
}

@media (max-width:500px){
    section{
        width:100%;
        padding:0 .5em;
        position:relative;
    }
    main{
        padding:0;
        width:100vw;
        border-radius:1.5em;

    }
    section >*:not(datalist){
        display:block;
    }
    h1{
        text-align: center;
        font-size:1.6em;
    }
    td,th{
        padding:.2em .1em;
    }
}