*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Raleway;
    user-select:none;
}
main{
    margin:auto;
    padding:2em 0;
    width:fit-content;
}
h1{
    text-align: center;
    margin-top:1em;
}
section{
    margin-bottom:2em;
    /* display:flex;
    flex-direction: column; */
    /* background-color: lightblue; */
    /* overflow-x: scroll; */
    width:61vw;
}
section >label{
    display:block;
}
label{
    margin:2em 0 .3em;
}
select,input{
    width:100%;
    padding:.3em;
    font-size: medium;
}
table{
    border-collapse:collapse;

}
input[type=file]{
    display:none;
}
td, th{
    border:1px solid black;
    padding:.5em 1.2em;
    /* width:50%; */
}
td input{
    width:100%;
    text-align: center;
}
input[type=file] + label{
    border:1px solid black;
    width:fit-content;
    padding:.5em 1.2em;
    cursor: pointer;
    border-radius:2em;
    font-weight:700;
    margin-top:1em;
    user-select: none;
    transition:.4s ease-out background-color;
}
input[type=file]:disabled + label{
    cursor:not-allowed;
    border-color:#03030360;
    color:#03030360;

}
input[type=file]:not(:disabled) +label:hover{
    background: #303030;
    color:white;

}
#add_row{
    border-radius:.5em;;
    display: inline-block;
    background:dodgerblue;
    margin-left:1em;
    font-weight:800;
    color:white;
    cursor:pointer;
    /* user-select: none; */

}
.paper_data{
    background:#ccc;
}
.delete_btn {
    background:white;
    border:0;
}
.delete_btn i{
    background:white;
    cursor:pointer;
    font-size:1.4em;
}
@media (max-width:360px){
    section{
        width:95vw;
        position:relative;
        
    }
    section >*:not(datalist){
        display:block;
    }
    table{
        overflow-x:scroll;
        margin-top:3em;
    }
    #add_row{
        position:absolute;
        left:50%;
        transform:translateX(-50%) ;
        bottom:-2.5em;
        padding:.5em 1.2em;
    }
}