*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
*::selection{
    background:#303030;
    color:white;
}
body{
    /* background:rgb(17, 17, 17); */
    position: relative;
    font-family: 'Roboto', sans-serif;
    
}
main{
    display: block;
    font-family: 'Roboto', sans-serif;
    width:80vw;
    margin:0 auto;
    margin-top:5em;
    padding:2em 2.5em;
    border:1.5px solid #303030;
    border-radius:3rem;
    background-color: rgb(255, 255, 255);

}
section{
    display: flex;
    flex-direction: column;
    margin:2em 0 3em;

    
}
h1{
    background: linear-gradient(to right ,#1d8378 , #326274);
    color:transparent;
    /* padding:1em .5em; */
    /* border-radius:2rem 2rem 0 0 ; */
    display:inline-block;
    font-size:2.3rem;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;

}
.AADHAR, .PAN {
    /* background-color:red; */
    font-size:1rem;
    /* margin-top:1em; */
    /* margin-bottom:.3em; */
    display:inline-block;
}
span{
    color:red;
}
input{
    width:50%;
    /* height:2em; */
    padding:.5em .5em;
    font-size:1rem;
    border-radius:.5rem;
    border:#cccccc solid 1px;
    outline:none;
}
input[type=file]{
    display:none;
}
input:focus{
    box-shadow:0 0 0 1px #aaa;
}
.btn{
    text-transform: uppercase;
    width:fit-content;
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 600;
    padding:1em 2.2em;
    color:rgb(240, 239, 239);
    background-color:#1d8378 ;
    border-radius: .5em;
    border:0;
    box-shadow:0 3px 8px rgba(0, 0, 0, 0.411);
    cursor:pointer;
    transition: .4s;
    transition-property: background-color box-shadow;
    /* letter-spacing: 2px; */
}
.btn:hover{
    background-color:#147067 ;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.336);

}

.btns{
    /* background-color: red; */
    display: flex;
    width:100%;
    justify-content:space-evenly
    /* align-items:flex-end; */
}
.add-details{
    margin:10px auto;
    display: flex;
    flex-direction: column;
    margin:2em 0 3em;    
    padding:20px;
    position: fixed;
    left: 5%;
    top:0;
    width:90%;
    height:90%;
    background:lightblue;
    border-radius: 20px;  
}

label{
   
    font-size:1rem;
    /* background-color:red; */
    margin-top:1em;
    margin-bottom:.3em;

}


/* research section */

#research{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between
}
#research label{
    display:inline;
}
.urls{
    display: flex;
    flex-direction: column;
    /* margin:1rem; */
    width:49%;
    padding:0.5rem;
    /* background-color:red; */
}

.urls input{
    width:100%;
}


/* experience section */

.experience input{
    width:100%;
    
}
.experience label{
    width:100%;
    text-align:center;
 
}
#addexp{
    margin-top:5%;
    border-width:0.5px;
    width:50px;
    padding:1px;
}

/* academic section */

.academic input{
    width:100%;
}
.academic label{
    width:100%;
    text-align:center;
}
#addqual{
    margin-top:5%;
    border-width:0.5px;
    width:50px;
    padding:1px;
}

 /* extra curricular secction */
.extra-curricular input{
    width:100%;
}
.extra-curricular label{
    width:100%;
    text-align:center;
}
#qual_extra{
    margin-top:5%;
    border-width:0.5px;
    width:50px;
    padding:1px;
}

